* {
    box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat ExtraBold";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  }

@font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  }

body {
    margin: 0;
    font-family: "Montserrat Regular";
    line-height: 1.4;
}

a {
    text-decoration: none;
}

/* HEADER STYLES */
header a.logo {
    position: absolute;
    display: block;
    width: 126px;
    height: 90px;
    background: url(../images/Logo.png) no-repeat 0 0;
    background-size: contain;
    z-index: 1;
    top: 15px;
    left: 25px;
}

header a.logo span {
    display: none;
}
  
header a.logo:hover {
    opacity: 0.8;
}
/* END HEADER STYLES*/

/* NAVIGATION STYLES HEADER */ 
nav {
    background: url(../images/TopNavBarRed2.png) no-repeat 0 0;
    width: 100%;
    height: 115px;
    background-size: 100% 100%;
    padding: 15px 10px 0px 130px;
}

nav ul.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-end;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
}
  
nav ul::after {
    content: "";
    display: block;
    clear: both;
}
  
nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px 15px 20px;
    text-decoration: none;
    width: auto;
    text-align: center;
    font-size: 0.9em;
    font-family: "Montserrat Bold"
} 


/* END NAVIGATION STYLES HEADER */

/* STYLING HOVER NAV ITEM*/
nav ul li a:hover {
    color: #fff42c;
    text-decoration: none;
}
  
.active-page {
    color: #fff42c;
}
  
.active-menu-item {
    color: #fff42c;
} 
/*END STYLING HOVER NAV ITEM*/

/* FOOTER STYLES */
footer {
    background: url(../images/BottomNavBarRed2.png) no-repeat 0 0;
    width: 100%;
    height: 135px;
    background-size: 100% 100%; 
    clear: both; 
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-grow: wrap;
}

footer > div.social-icon {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0px 0px;
}
  
footer a {
    color: #fff;
    text-decoration: none;
}

.padding-right {
    padding-right: 40px;
}

.footer-info {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: flex-start;
    padding: 30px 0px 0px 30px;
}

ul.footer-info > li {
    font-size: 0.8em;
    padding-right: 15px;
    color: #fff;
}

/* END FOOTER STYLES */
/* BEGIN DROPDOWN MENU SMALL SCREEN */

.dropdown {
    position: absolute;
    display: none;
    top: 0; 
    right: 0px;
  }
  
.dropbtn {
    background-color: #DD0201;
    color: #fff;
    padding: 30px 21px 21px 21px;
    border: none;
    cursor: pointer;
    line-height: normal; /* do this override/cascade the line-height set in carousel plugin */
}
  
.dropdown-content {
    display: none; 
    position: absolute;
    right: 0;
    background-color:#DD0201;
    min-width: 280px;
    z-index: 1;
    padding: 0px 0px 15px 0px;
}
  
.dropdown-content a {
    color: #fff;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 0.9em;
    font-family: "Montserrat Bold";
    line-height: normal; /* do this override/cascade the line-height set in carousel plugin */
}
  
.dropdown-content a:hover {
    color: #fff42c;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropbtn:hover {
    color: #fff42c;
}

/* END DROPDOWN MENU SMALL SCREEN*/
/* BEG STYLING HERO SCREEN*/
.home-page {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0; 
    bottom: 0;
    width: auto;
    height: auto;
    background: #eee url(../images/SeattleHero2.jpg) no-repeat center;
    background-size: cover;
    background-position: 25% 35%;
    z-index: -1;
}
.hero-text {
    color: #fff42c;
    font-size: 3.7em;
    font-family: "Montserrat Bold";
    max-width: 1000px;
    line-height: 1.3;
}
  
.hero-div {
    padding: 120px 5% 0% 35%;
}
/* END STYLING HERO SCREEN*/
/* BEGIN STYLING THINGS TO DO PAGE */

header.thingstodo {
    background: #eee url(../images/george.jpg) no-repeat center; 
    background-size: cover;
    height: 500px;
    background-position: 50% 40%;
    position: relative;
}

.pgtitle-div {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 40px 10px 40px;
}

.pagetitle {
    font-size: 5em;
    color: #fff42c;
    margin: 0;
}

.intro-div {
    padding: 60px 40px 40px 40px;
    max-width: 1400px;
    margin: auto;
}

.intro-div > p {
    font-size: 1.2em;
    line-height: 1.5;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1400px;
}

.activities-div {
    width: 70%;
    padding: 20px 40px 20px 40px;
    flex-grow: 1;
    flex-shrink: 1;
    
}

.list-menu {
    width: 30%;
    padding: 20px 40px 20px 40px;
    min-width: 270px;
    max-width: 480px;
    flex-grow: 1;
    flex-shrink: 1;
   
}

.list-menu li {
    font-size: 1.2em;
    padding: 0px 0px 10px 0px;
}

.jumplist {
    padding: 10px 30px 600px 30px;
    min-width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff42c;
}

.jumplist a {
    text-decoration: none;
}

.location-ul {
    list-style-type: none;
    padding: 0;
}

.clearfloat {
    clear: both; 
}

.divider {
    background-color: #DD0201;
    height: 2px;
    width: 80%;
    margin: 30px auto 40px auto;
}

h2 {
    font-size: 1.7em;
    font-weight: normal;
    font-family: "Montserrat Bold";
}

h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-weight: normal;
    font-family: "Montserrat Regular";
}

.red-bold {
    color:#DD0201;
    font-family: "Montserrat Bold";
}

.red {
    color: #DD0201;
}

/* BEGIN IMAGE STYLING TO DO PAGE */

img.size03 {
    width: 50%;
    max-width: 500px;
    padding-bottom: 10px;
}
  
.padding-right {
    padding-right: 25px;
}
  
.padding-left {
    padding-left: 28px;
}
  
.float-left {
    float: left;
}
  
.float-right {
    float: right;
}

/* END IMAGE STYLING TO DO PAGE */
/* END STYLING THINGS TO DO PAGE */

/* BEGIN STYLING FARMERS MARKETS PAGE */
header.farmersmarkets {
    background: #eee url(../images/apples.jpg) no-repeat center; 
    background-size: cover;
    height: 500px;
    background-position: 50% 40%;
    position: relative;
}

.carousel-div {
    width: 70%;
    padding: 40px 40px 80px 40px;
    min-width: 400px;
    flex-grow: 1;
}

.markets-div {
    width: 30%;
    padding: 100px 40px 80px 40px;
    min-width: 300px;
    flex-grow: 1;
}

.carousel-area {
    width: 90%;
    margin: auto;
}

div.scrolling {
    width: 100%;
    height: 450px;
    padding: 20px;
    overflow: auto;
    background-color: #fff42c;
}

h4 {
    font-family: "Montserrat Bold";
    font-weight: normal;
    font-size: 1.2em;
    margin: 15px 0px 5px 0px;
}

.scrolling p {
    margin-top: 10px;
}

/* BEGIN CAROUSEL STYLES */


/* END CAROUSEL STYLES */

/* END STYLING FARMERS MARKETS PAGE */
/* BEGIN STYLING UPCOMING EVENTS PAGE */
header.upcomingevents {
    background: #eee url(../images/fireworks.jpg) no-repeat center; 
    background-size: cover;
    height: 500px;
    background-position: 50% 40%;
    position: relative;
}

.events {
    width: 100%; 
    padding-bottom: 10px;
}

.yellow {
    background-color: #fff42c;
}

.event-details {
    width: 50%;
    min-width: 400px;
    float: left;
    padding: 0px 80px 0px 6%;
}

.event-video {
    width: 50%;
    min-width: 400px;
    float: left;
    padding: 45px 6% 0px 6%;
}

/* START YOU TUBE STYLES */
.auto-resizable-iframe {
    max-width: 420px;
    margin: 0px auto;
}

.auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 65%;
    height: 0px;
}

.auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
/* END YOU TUBE STYLES */

.event-details p {
    margin: 0;
}

.event-details h3 {
    margin: 22px 0px 17px 0px;
}

/* START ACCORDION STYLES */

.accordion {
    background-color: transparent;
    color:#DD0201;
    font-family: "Montserrat Bold";
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;
    padding: 15px 18px 18px 6%;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 56% 0 6%;
    background-color: #fff42c;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    margin-top: 0;
}

.white {
    background-color: #fff;
}

/* END ACCORDION STYLES*/
/* END STYLING UPCOMING EVENTS PAGE */
/* BEGIN STYLING FOOD PAGE */

header.foodanddrink {
    background: #eee url(../images/food.jpg) no-repeat center; 
    background-size: cover;
    height: 500px;
    background-position: 50% 60%;
    position: relative;
}

.table-div {
    width: 100%; 
    padding: 20px 80px 0 80px;
}

.foodtable {
    width: 100%;
    border: 0;
    border-collapse: collapse;
}

.foodtable tr:nth-child(even) {
    background-color: #fff42c;
}

.text-cell {
    position: relative;
    max-width: 400px;
    min-width: 100px;
    border: 0px;
    text-align: left;
    padding: 10px;
}

.logoimg {
    height: 125px;
    background-color: inherit;
    text-align: center;
}

.price {
    text-align: center;
}

.foodtable th {
    background-color:#DD0201;
    color: #ffffff;
    text-align: left;
    font-family: "Montserrat Bold";
    font-weight: normal;
    font-size: 1.3em;
    padding: 5px 0px 5px 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    cursor: pointer;
}

.sort-label:hover {
    color:#fff42c;
}

.sorted {
    color:#fff42c;
}

.restaurant-logo {
    width: 120px;
}

.bold {
    font-family: "Montserrat Bold";
}

.sortselect {
    width: 100%;
    color: #ffffff;
    background-color: #DD0201;
    font-family: "Montserrat Bold";
    text-align: center;
    display: none;
    border: 0;
}


/* END STYLING FOOD PAGE */

/* BEGIN STYLING PARKS PAGE */
header.parksandplay {
    background: #eee url(../images/parksandplay.jpg) no-repeat center; 
    background-size: cover;
    height: 500px;
    background-position: 50% 40%;
    position: relative;
}

.parks h2 {
    text-align: left; 
    width: 100%; 
    margin-bottom: 28px;
}

/* BEGIN STYLE FLIP CARDS */

.flex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 20px 40px 20px;
}

.flip-card {
    background-color:#DD0201;
    width: 350px;
    height:350px;
    perspective: 1000px;
    border: 3px solid #DD0201;
    margin-bottom: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #fff42c;
    padding: px;
}

.flip-card-front img {
    width: 350px; 
    height: 350px;
}

.flip-card-back {
    background-color:#fff42c;
    transform: rotateY(180deg);
    padding: 25px;
}

.flip-card-back h3 {
    color: #DD0201;
    margin-top: 11px; 
    font-size: 1.6em;
    text-align: center;
}

.flip-card-back p {
    margin: 5px 0px 10px 0px;
}

.flip-card-back h4 {
    color: #DD0201;
}

/* END STYLING FLIP CARDS */
/* START STYLING LIGHTBOX */

.lightbox {
    padding: 30px 20px 30px 20px;
    background-color:#fff42c;
    margin-bottom: 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.row > .column {
    padding: 8px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.column {
    width: 25%;
    min-width: 200px;
    flex-grow: 1;
    flex-shrink: 1;
}
 
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1000px;
}
  
/* The Close Button */
.close {
    color:#fff42c;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides {
    display: none;
}
  
.cursor {
    cursor: pointer;
}
  
/* Next & previous buttons */
.prevb,
.nextb {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color:#fff42c;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.nextb {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prevb:hover,
.nextb:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* Number text (1/3 etc) */
.numbertext {
    color:#fff42c;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.lightbox img {
    margin-bottom: -4px;
}
  
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color:#fff42c;
}
  
.demo {
    opacity: 0.6;
  }
  
.active,
 .demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* END STYLING LIGHTBOX */
    
/* END STYLING PARKS PAGE */

/* MEDIUM SCREEN STYLES */

@media screen and (max-width: 900px) {
    .jumplist {
        padding: 10px 30px 20px 30px;
    } 

    .panel {
        padding: 0 6% 0px 6%;
    }

    .table-div {
        width: 100%; 
        padding: 20px 40px 0 40px;
    }
}

@media screen and (max-width: 835px) {
    .hero-text {
        font-size: 2.7em;
    }
    
    .hero-div {
        padding: 120px 5% 0% 35%;
    }

    nav {
        background: none;
        background-color: #DD0201;
        height: 86px;
    }

    nav > ul.flex-container {
        display: none;
    }
  
    header a.logo {
        width: 104.4px;
        height: 75.6px; 
        top: 11px;
        left: 37px;
    }
  
    .dropdown {
        display: block;
    }

    footer {
        background: none;
        background-color: #DD0201;
        height: 105px; 
        margin-bottom: 0;
        padding-top: 10px;
    }
  
    footer > div.social-icon {
        padding: 30px 10px 0px 0px;
    }

    .foodtable thead {
        display: none;
    }

    .logoimg {
        background-color: inherit;
        height:auto;
    }

    .text-cell {
        display: block;
        padding-left: 150px;
        max-width: 100%;
    }

    .text-cell::before {
        content:attr(cell-label);
        position:absolute;
        left: 15px;
        top: 10px;
        font-family: "Montserrat Bold";
        font-weight: normal;
        color: #DD0201;
    }

    .price {
        text-align: left;
    }

    .sortselect {
        display: block;
    }

    .newsletter {
        display: none;
    }

}

/* SMALL SCREEN STYLES */
@media screen and (max-width: 500px) {

    .hero-text {
        font-size: 2em;
    }
      
    .hero-div {
        padding: 130px 5% 0% 40%;
    }

    .pagetitle {
        font-size: 3em;
        color: #fff42c;
        margin: 0;
    }

    .flex-cards {
        padding: 10px 0px 40px 0px;
    }

}